body {
    background: black;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.header {
    background-color: #2e4444;
    margin: 0;
    width: 100%;
    padding: 2px 40px;
    color: aliceblue;
}

.section {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

@media screen and (max-device-width: 700px) {
    .header{
        text-align: center;
    }
    .section {
        flex-direction: column;
        align-items: center;
        font-size: 12pt;
    }
    .score-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .gameFieldWrapper > .gameField{
        font-size: 40px;
        align-items: flex-start;
        height: fit-content;
        width: 500px;
        margin: 0 auto;
    }
    body > .gameFieldWrapper{
        height: fit-content;
        width: 500px;
        margin: 0 auto;
    }
}

.settings {
    border: #2e4444 solid 1px;
    padding: 10px;
    width: 40vw;
    line-height: 40px;
    background: linear-gradient(#282828, #6f9a9a);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-family: monospace;
    /*font-size: 3.5vh;*/
    color: white;
    margin: 10px auto;
    padding: 10px;
}

.gameField {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
    height: 45vh;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 8vh;
    border-radius: 20px;
}
.gameField:hover{
    transition: .3s all linear;
    background-color: rgba(255, 255, 255, 0.1)
}

.gameFieldWrapper {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
}

.button-wrapper {
    width: 40%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.btn {
    margin: 10px;
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
    outline: none;
    border: none;
    border-radius: 100px;
    background: rgb(28,107,114) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
    box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
    color: rgb(0,79,86);
    user-select: none;
}
.btn:hover {
    color: rgb(0,59,66);
    cursor: pointer;
}
.btn:active {
    padding-bottom: 1px;
    box-shadow:
            inset rgba(0,0,0,1) 0 1px 3px,
            inset rgba(0,0,0,.6) 0 -2px 5px,
            inset rgba(252,255,255,.7) 0 2px 5px,
            0 1px rgba(255,255,255,.08);
    color: rgb(128,207,214);
}

